In [1]:
import pandas as pd 
import numpy as np 
import nltk
import re
from nltk.tokenize import sent_tokenize, word_tokenize

In [2]:
data = pd.read_csv("labeled_data.csv")
df = pd.read_pickle("labeled_data.p")
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24783 entries, 0 to 25296
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   count               24783 non-null  int64
 1   hate_speech         24783 non-null  int64
 2   offensive_language  24783 non-null  int64
 3   neither             24783 non-null  int64
 4   class               24783 non-null  object
 5   tweet               24783 non-null  object
dtypes: int64(4), object(2)
memory usage: 1.3+ MB

In [3]:
q = []
for i in range(0,24783):
    if df.index[i]!=i:
        q.append(i)   
index = []
for j in range(0,24783):
    index.append(j)
df['index']=index
df = df.set_index(df['index'])
df = df.drop(['index'],axis=1)

In [4]:
df = df.drop(['count'],axis=1)
df = df.drop(['hate_speech'],axis=1)
df = df.drop(['offensive_language'],axis=1)
df = df.drop(['neither'],axis=1)

In [5]:
df

      class                                              tweet
index
0         2  !!! RT @mayasolovely: As a woman you shouldn't...
1         1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2         1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3         1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4         1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...     ...                                                ...
24778     1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24779     2  you've gone and broke the wrong heart baby, an...
24780     1  young buck wanna eat!!.. dat nigguh like I ain...
24781     1              youu got wild bitches tellin you lies
24782     2  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24783 rows x 2 columns]

In [6]:
def remove_excalmation(str):
    exclamation = '^!!*'
    e=re.match(exclamation,str)
    if(e):
        return re.split(exclamation,str)[1]
    else:
        return str
def rt_remove(str):
    rt = '^ RT '
    e=re.match(rt,str)
    if(e):
        return re.split(rt,str)[1]
    else:
        return str

In [7]:
for i in range(0,24782):
    df['tweet'].loc[i]=remove_excalmation(df['tweet'].loc[i])
    df['tweet'].loc[i]=rt_remove(df['tweet'].loc[i])

In [8]:
df.head()

      class                                              tweet
index
0         2  @mayasolovely: As a woman you shouldn't compla...
1         1  @mleew17: boy dats cold...tyga dwn bad for cuf...
2         1  @UrKindOfBrand Dawg!!!! RT @80sbaby4life: You ...
3         1  @C_G_Anderson: @viva_based she look like a tranny
4         1  @ShenikaRoberts: The shit you hear about me mi...

In [9]:
for i in range(0,24783):
    df['tweet'].loc[i]=df['tweet'].loc[i].split()

In [10]:
df

      class                                              tweet
index
0         2  [@mayasolovely:, As, a, woman, you, shouldn't,...
1         1  [@mleew17:, boy, dats, cold...tyga, dwn, bad, ...
2         1  [@UrKindOfBrand, Dawg!!!!, RT, @80sbaby4life:,...
3         1  [@C_G_Anderson:, @viva_based, she, look, like,...
4         1  [@ShenikaRoberts:, The, shit, you, hear, about...
...     ...                                                ...
24778     1  [you's, a, muthaf***in, lie, &#8220;@LifeAsKin...
24779     2  [you've, gone, and, broke, the, wrong, heart, ...
24780     1  [young, buck, wanna, eat!!.., dat, nigguh, lik...
24781     1      [youu, got, wild, bitches, tellin, you, lies]
24782     2  [~~Ruffled, |, Ntac, Eileen, Dahlia, -, Beauti...

[24783 rows x 2 columns]

In [ ]:
df['tweet']